<div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Welcome to Gmail</h1>
      <p class="lead text-center">...back in a days ;-)</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table col-md-4">
            <thead class='thead-light'>
                <tr >
                    <th  class=" col-md-2">#</th>
                    <th  class="col-md-4">Objet</th>
                </tr>
            </thead>
            <% @emails.each do |mail|  %>
            <tbody class='bgcolor'>
                <tr >
                    <th class="reade"  id='<%= mail.id %>'><%=mail.id%></th>
                    <td class="read"  id='object<%= mail.id %>'> <%=link_to mail.object, email_path(mail.id), remote: true%> </td>
                    <%end%>
                </tr>  
            </tbody>
        </table>
        <table class="table col-md-4 offset-1">
            <thead class='thead-light'>
                <tr >
                    <th  class=" col-md-2 center" >Email View</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td id='render'></td>
                    
                </tr>  
            </tbody>
        </table>
    </div>
</div>
